<h1 class="my-3 display-4"><%= @genre.title.upcase %></h1>

<ul class="list-group">
  <% @genre.games.each do |game| %>
  <li class="list-group-item"><%= link_to game.title, game_path(game.id), class: "text-decoration-none" %></li>
  <% end %>
</ul>
