<p id="notice"><%= notice %></p>

<h1>Genres</h1>

  <% @genres.each do |genre| %>
      <h3><%= genre.title %></h3>
      <% genre.games.each do |game| %>
        <p><%= link_to game.title, game, class: "text-decoration-none" %></p>
      <% end %>
  <% end %>


<br>
