<h1 class="display-3 text-center m-5">Stripe payment completed!</h1>

<div class="w-100 d-flex justify-content-center">
  <%= button_to "Complete your order", { controller: "orders",
                                       action: "create",
                                       stripe_payment_id: @payment_intent.id,
                                       paid: @payment_intent.charges.data[0].paid,
                                       paid_amount: @payment_intent.charges.data[0].amount_captured / 100.00 }, class: "btn btn-primary m-5" %>
</div>
